*
{
    margin:0;
    padding:0;
}
body
{
    width:100%;
    background: black;
    color:white;
}
h1{
    color:white;
}

/******************************************************************************/
/*                                 Header                                     */
/******************************************************************************/
header
{
    display: flex;
    flex-direction: row;
    width:100%;
    color:white;
    background-color: #aaa6a6;
   
}
#head_one
{
    width:30%;
    text-align: center;
    margin:auto;
}
#head_two
{
    width:70%;
    text-align: center;
    margin:auto;
}

/******************************************************************************/
/*                                 Nav                                        */
/******************************************************************************/


ul{
    display: table;
    width: 100%;
    padding: 0;
}
ul li{
    display: table-cell;
}
ul{
   
    background: linear-gradient(deepskyblue, dodgerblue);
}
ul{
    background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
}
ul{
    background: grey;
    
}
ul{
    
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}
ul li a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;
}
ul li a{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}
ul li a{
    
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 32%) inset, 
                0 -2px 0 hsl(210, 100%, 38%) inset, 
                0 -3px 0 hsl(210, 100%, 44%) inset, 
                0 -4px 0 hsl(210, 100%, 50%) inset, 
                0 -5px 0 hsl(210, 100%, 60%) inset;
}
ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
ul li:last-child a{
    border-radius: 0 3px 3px 0;
}
ul li a:hover, 
ul li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
} 
ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
ul li a:hover,
ul li a:focus{
   
    padding: 8px 25px 17px 25px;
}
ul li a{
   
    transition: padding .3s;
} 
ul li a{
   
    transition: padding .3s, background .3s;
}

ou plus simplement 

ul li a{
   
    transition: all .3s;
}
ul li a{
    
    transition: all .3s .1s;
}

ul li a:hover,
ul li a:focus{
    
    transition: all .3s 0s;
}
            ul li a{
    
    position: relative;
}
ul li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}
ul li a:hover::before,
ul li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}
            /******************************************************************************/
/*                                 Nav                                        */
/******************************************************************************/
/******************************************************************************/
/*                                les petits cerles                                      */
/******************************************************************************/
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: white;
    display: flex;
    align-items: center;
    margin: 0 10px;
    border: 2px solid;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    justify-content: center;
}
.circle.cancer {
    color: #27348B;
}
.text-center {
    text-align: center;
}
.badges{
    display: flex;
    justify-content: center;
}
.circle span { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 100%;
    left: 0;
}
.circle.cancer { color: #27348B; }
.circle.maladies { color: #009640; }
.circle.handicap { color: #D2C200; }
.circle.solidarite { color: #E30613; }
.circle.enfance { color: #04A1E3; }
.circle.aide { color: #E5327B; }
.circle.autres { color: #951B81; }

/******************************************************************************/
/*                                 les petites cerles                                       */
/******************************************************************************/
/******************************************************************************/
/*                                 formulaire users                                      */
/******************************************************************************/
.alert{
    color:red;
    
}
/******************************************************************************/
/*                                 formulaire users                                      */
/******************************************************************************/
/******************************************************************************/
/*                                 evenement a venir                                    */
/******************************************************************************/
.event-is-coming{
    background-color: #bdc6deb3;
   
}
          /******************************************************************************/
/*                                 description de l'evenement                                */
/******************************************************************************/

    .des{        
    border: 1px solid black;
    width:50% ;
    margin-left: 25%;
}
           
 /******************************************************************************/
/*                                 boutton ajouter evenement                                   */
/******************************************************************************/


.add_event {
         border: 1px solid beige;
    border-radius: 30%;
    margin-left: 78%;
    background-color: #AEEE00;
}
 /******************************************************************************/
/*                                 boutton ajouter evenemnt                                    */
/******************************************************************************/

 /******************************************************************************/
/*                                 les resultat generals                                  */
/******************************************************************************/
.resulta{
    background-image: url(image/resultat.jpg);
    opacity: 0.6;
    text-align: center;
    font-size: 150%
}
/******************************************************************************/
/*                                 nous connaitre                                   */
/******************************************************************************/
.row.text-center{
    background-image: url('image/course.jpg')  ;
    background-repeat : repeat-x repeat-y;
    color: #8d00ff;
}
/******************************************************************************/
/*                                 boutton ajouter une course                                    */
/******************************************************************************/
.boutton{
        background-color: #451ee3;
    margin-right: 78%;
    border-radius: 45%;
    margin-top: 1%;
}

/******************************************************************************/
/*                                 les h1                                  */
/******************************************************************************/


h1{
    color:black;
}
